$blinkas-red: #ff0000;
$blinkas-faded-red: #e13f3f;
$blinkas-black: #272727;
$blinkas-faded-black: #333333;
$blinkas-faded-white: rgb(112, 109, 109);
$blinkas-green: #00b050;
$blinkas-ash: rgb(158, 162, 172);
$blinkas-faded-pink: #e5b8b7;
