$blinkas-red: #FF0000;
$blinkas-faded-red: #E13F3F;
$blinkas-black: #272727;
$blinkas-faded-black: #333333;
$blinkas-faded-white: rgb(112, 109, 109);
$blinkas-green: #00B050;
$blinkas-ash: rgb(158, 162, 172);
$blinkas-faded-pink: #E5B8B7;
